<!DOCTYPE html>
<html ng-app="dressingApp">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular UI ~ UI.Slider--DIRTY Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato'/>
  <link rel="stylesheet" type="text/css" href="css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>


    <link rel="stylesheet" type="text/css" href="dist/ui-slider.css"/>
  
  <link rel="stylesheet" type="text/css" href="css/dressing.css" />

</head>

<body ng-app="app-publisher">

<!-- navbar
================================================== -->
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button ng-init="_navCollapsed = true" ng-click="_navCollapsed = !_navCollapsed" class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="navbar-brand">UI.Slider--DIRTY</a>

    </div>
    <nav collapse="_navCollapsed" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <ul class="nav navbar-nav">

                <li>
          <a href="dressing.html">Dressing</a>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://angular-ui.github.io">by AngularUI</a></li>
      </ul>
    </nav>
  </div>
</header>


<!-- content
================================================== -->

<!-- header
================================================== -->
<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Dressing</h1>

    <p></p>

  </div>
</div>

<!-- Le main
================================================== -->
<div class="container">

  



<section>

  <div class="container">
    <article>
      <h3>Native input range</h3>
      <input type="range" style="width: 100%">
    </article>
    <article>
      <h3>UI.Slider <code>.ui-slider--default </code></h3>
      <ui-slider></ui-slider>
    </article>

    <div ng-controller="wearingCtrl as wearingCtrl">
      <article ng-repeat="dress in wearingCtrl.dresses track by dress.class">
        <h3>{{ dress.name }} style <code>.ui-slider--{{ dress.class }} </code></h3>
        <ui-slider class="" ng-class="'ui-slider--{{ dress.class }}'"></ui-slider>
      </article>

      <article ng-repeat="dress in wearingCtrl.rangedDresses track by dress.class">
        <h3>{{ dress.name }} style <code>.ui-slider--{{ dress.class }} </code></h3>
        <ui-slider options="{ range : 'min'}" class="" ng-class="'ui-slider--{{ dress.class }}'">
          <ui-slider-thumb ng-model="dress.thumb"></ui-slider-thumb>
          <ui-slider-range start="0" end="{{dress.thumb}}"></ui-slider-range>
        </ui-slider>
      </article>
    </div>

  </div>

</section>

</div>



<!-- javascript
================================================== -->

<script src="bower_components/prettify.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="js/prettifyDirective.js"></script>
<script src="js/plunker.js"></script>
<script src="js/app-publisher.js"></script>
<script src="bower_components/raf/index.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="dist/ui-slider.js"></script>

<script>
  angular.module('dressingApp', ['ui.slider', 'app-publisher'])
    .controller('wearingCtrl', function(){
      this.dresses = [
        {
          name : 'Firefox input[range]',
          class : 'ff-like'
        },
        {
          name : 'jQuery ui',
          class : 'jqui-like'
        }
      ];

      this.rangedDresses = [
        {
          name : 'Youtube range',
          class : 'yt-like'
        },
        {
          name : 'iOS 7 range',
          class : 'ios7-like'
        }
      ];
    });
</script>

</body>

</html>
